<div class="row">
  <div class="col-sm-12">
    
    <div class="panel panel-default">
      <div class="panel-body">
        {{#link-to 'move' id}}
          <span class="label label-default"><span class="glyphicon glyphicon-time"></span> {{created_at}}</span>
        {{/link-to}}
    
        <br><br>
    
        <blockquote>
          <p>{{text}} TGM.</p>
        </blockquote>
    
        <ul class="nav nav-pills navbar-warning">
          <li {{bind-attr class="vote.down:active"}}>
            <a class='text-danger' href='#' {{action downvoteAction}}>
              <span class="glyphicon glyphicon-thumbs-down"></span> 
              That's nice, dear.
              <span class="badge alert-danger">{{downvotes}}</span>
            </a>
          </li>
          <li {{bind-attr class="vote.up:active"}}>
            <a move='123' href='#' {{action upvoteAction}}>
              <span class="glyphicon glyphicon-thumbs-up"></span>
              Well now, isn't that just wonderful!
              <span class="badge">{{upvotes}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</div>

<br/><br/>